.main-footer {
  display: none;
}

.sidebar {
  background: #E3DDBB;
}

.brand-link {
  background: #F6F3E4 !important;
  border-bottom-color: #F6F3E4 !important;
  text-align: center;
}

.main-header {
  background: #E3DDBB;
  color: #212121 !important;
  border-bottom-color: #E3DDBB !important;
}
.main-header a {
  color: #212121 !important;
}

.content-wrapper {
  background-color: #F6F3E4;
}

.navbar-nav .nav-link {
  text-transform: uppercase;
}

.small-box {
  background: #E3DDBB;
  text-align: center;
}
.small-box:hover {
  background-color: #fff;
}
.small-box a {
  color: #212121;
}

.table thead tr th {
  background-color: #F0ECD6;
  border-color: #E3DDBB;
}
.table tbody tr {
  color: #212121;
  background-color: #F0ECD6;
}
.table tbody tr td {
  vertical-align: middle;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #F6F3E4;
}
.table tbody tr a {
  color: rgba(176, 0, 32, 0.8705882353);
}
.table tbody tr span {
  color: #666;
}

.content-header .row {
  padding-bottom: 8px;
  text-transform: uppercase;
}

.detail-info span {
  font-size: 13px;
  color: #666;
}
.detail-info p {
  border-bottom: 1px solid #E3DDBB;
}

.row-btn .btn {
  width: 100%;
  color: #000000;
}
.row-btn .btn.btn-danger {
  background-color: #E3DDBB;
  border-color: #E3DDBB;
}
.row-btn .btn.btn-success {
  background-color: #212121;
  color: #fff;
}

.dropzone {
  border: 0 none !important;
  background: transparent !important;
  padding: 0 !important;
}
.dropzone .dz-preview {
  background: transparent !important;
}
.dropzone .dz-preview .dz-remove {
  z-index: 99;
  position: absolute;
  text-indent: -9999px;
  right: 0;
  top: 0;
  height: 20px;
  width: 20px;
  background-color: #000000;
  border-radius: 100%;
}

.login-page {
  background: #F6F3E4 url("../img/sixdo_bg_login.png") center center no-repeat !important;
}
.login-page .card-primary.card-outline {
  background: transparent !important;
  border: 0 none !important;
  box-shadow: none;
}
.login-page .card-primary.card-outline .card-header,
.login-page .card-primary.card-outline .card-body {
  border: 0 none;
}
.login-page .card-primary.card-outline .btn-primary {
  height: 45px;
  border-color: #212121;
  background: #212121;
  border-radius: 100px;
}
.login-page .card-primary.card-outline input {
  height: 45px;
}
.login-page .card-primary.card-outline .input-group-append {
  background-color: #E3DDBB;
}
.login-page .card-primary.card-outline .input-group-append .input-group-text {
  background-color: #E3DDBB;
}

.dz-image {
  width: 80px !important;
  height: 120px !important;
}
.dz-image img {
  width: 100%;
}

.images-preview .list-thumb img {
  margin-bottom: 20px;
  border-radius: 3px;
}

.nav-sidebar .nav-item .nav-link {
  color: #212121;
}
.nav-sidebar .nav-item:hover {
  background-color: #212121;
}
.nav-sidebar .nav-item:hover .nav-link {
  background-color: #212121;
  color: #F6F3E4;
}
.nav-sidebar .nav-item:hover .nav-link:hover {
  background-color: #212121;
  color: #F6F3E4;
}

.content .card {
  box-shadow: none !important;
}

/*# sourceMappingURL=sixdo.css.map */
